.footer {
    display: grid;
    background-color: $color-grey-dark-2;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 5 / 6;

    &__copyright {
        color: $color-grey-light;
        margin-left: 40px;
        margin-top: -3px;
        letter-spacing: -.3px;
        font-size: 1.2em;
        font-stretch: condensed;
    }
}