header {
    background-color: $color-grey-dark;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
}

nav {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 25px; 
    justify-content: space-between;
}

.logo {
    height: 55px;
    width: 64px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-top: 3px;
    margin-left: -1px;
    transform: translate(-50%, -50%);
    background-image: url("../../domestic/img/logo.png");
    z-index: 99;
}

nav {
    width: 370px;

}

nav a {
    font-family: $font-secondary, sans-serif;
    color: white;
    text-decoration: none;
    font-size: .6rem;
    text-transform: uppercase;
    transition: all .2s;

    &:hover {
        color: $color-green-base;
    }
}

.portf {
    grid-column: 1 / 2;
    align-self: start;
    margin-left: 2px;
}

.about {
    grid-column: 2 / 3;
    margin-left: -23px;
    
    &::before {
        content: "•";
        color: $color-grey-light;
        margin: 0 10px;
    }
}

.blog {
    grid-column: 5 / 6;
    margin-right: -16px;

    &::after {
        content: "•";
        color: $color-grey-light;
        margin: 0 10px;
    }
    
}

.get-in-touch-header {
    grid-column: 6 / -1;
    margin-left: -8px;
    margin-right: -2px;
    align-self: end;

}

header .active {
    color: $color-green-base;
}


