
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 62.5%; //10px/16px = 62.5% -> 10px;
} 

.container {
    width: 1020px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 63px 720px 341px 564px 43px;
}


  
