
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 62.5%; //10px/16px = 62.5% -> 10px;
} 

.container {
    width: 1020px;
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


  
