.fas {
    font-size: 10px;
    color: $color-green-base;
}

.fa-map-marker-alt {
  padding-right: 15px;
  font-size: 10px;
}


.fa-phone {
  padding-right: 12px;
  font-size: 12px;
  margin-left: -2px;
}

.fa-envelope {
  padding-right: 12px;
  font-size: 12px;
  margin-left: -2px;
}