
//COLORS
$color-white: white;

$color-grey-light: #454545;
$color-grey-dark: #323232;
$color-grey-dark-2: #222222;
$color-grey-form: #bebebe;
$color-grey-form-light: #e0e0e0;

$color-green-base: #2eb398;
$color-green-smith: #d7fcf5;
$color-green-disigner: #20816d;
$color-grey-lines: #e4e9eb;
$color-green-lines: #219d84;


//FONT SIZED

$default-font-size: 1.6rem;

//FONTS

$font-primary: "Maven Pro", sans-serif;
$font-secondary: "Lato", sans-serif;