
//COLORS
$color-white: white;

$color-grey-light: #454545;
$color-grey-dark: #323232;
$color-grey-form: #bebebe;
$color-grey-form-light: #e0e0e0;

$color-green-base: #2eb398;
$color-green-smith: #d7fcf5;
$color-green-disigner: #20816d;




//FONT SIZED

$default-font-size: 1.6rem;