*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
}

.container {
  width: 1020px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 63px 721px 341px 564px 43px;
      grid-template-rows: 63px 721px 341px 564px 43px;
}

/* latin-ext */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Maven Pro Regular"), local("MavenPro-Regular"), url(https://fonts.gstatic.com/s/mavenpro/v11/7Au9p_AqnyWWAxW2Wk3Gw2QIAFg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

header {
  background-color: #323232;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
}

.monsters {
  background-color: white;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 258px 168px 298px;
      grid-template-rows: 258px 168px 298px;
  position: relative;
}

.monsters__row__1 *,
.monsters__row__2 *,
.monsters__row__3 * {
  width: 180px;
  height: 206px;
  -webkit-align-self: end;
      -ms-flex-item-align: end;
              -ms-grid-row-align: end;
          align-self: end;
}

.monsters__row__1, .monsters__row__2, .monsters__row__3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.monsters__row__1 :not(:last-child),
.monsters__row__2 :not(:last-child),
.monsters__row__3 :not(:last-child) {
  margin-right: 20px;
}

.monsters__row__1 {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  bottom: -38px;
}

.monsters__row__1__monster1 {
  background-image: url("../img/monster1.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.monsters__row__1__monster2 {
  background-image: url("../img/monster2.png");
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.monsters__row__1__monster3 {
  background-image: url("../img/monster3.png");
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.monsters__row__1__monster4 {
  background-image: url("../img/monster4.png");
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.monsters__row__2 {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.monsters__row__2__monster5 {
  background-image: url("../img/monster5.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.monsters__row__2__monster6 {
  background-image: url("../img/monster6.png");
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.monsters__row__2__monster7 {
  background-image: url("../img/monster7.png");
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.monsters__row__2__monster8 {
  background-image: url("../img/monster8.png");
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.monsters__row__2__monster9 {
  background-image: url("../img/monster9.png");
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  margin-right: 0;
}

.monsters__row__3 * {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
}

.monsters__row__3 {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

.monsters__row__3__monster10 {
  background-image: url("../img/monster10.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.monsters__row__3__monster11 {
  background-image: url("../img/monster11.png");
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.monsters__row__3__monster12 {
  background-image: url("../img/monster12.png");
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.monsters__row__3__monster13 {
  background-image: url("../img/monster13.png");
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.monsters__row__1::before, .monsters__row__3::before, .monsters__row__1::after, .monsters__row__3::after {
  content: '';
  position: absolute;
  height: 102px;
  border-left: 1px solid #e4e9eb;
}

.monsters__row__1::before, .monsters__row__1::after {
  bottom: 53px;
  bottom: 53px;
}

.monsters__row__1::before {
  left: 9.7%;
}

.monsters__row__1::after {
  right: 9.7%;
}

.monsters__row__3::before, .monsters__row__3::after {
  top: 53px;
}

.monsters__row__3::before {
  left: 9.7%;
}

.monsters__row__3::after {
  right: 9.7%;
}

.monster {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
}

.monster:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.monsters::after {
  content: "";
  width: 94%;
  border-bottom: 1px solid #e4e9eb;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 11px;
  z-index: 100;
}

.summary {
  background-color: #2eb398;
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.summary__row {
  width: 822px;
  height: 316px;
  border-right: 1px solid #219d84;
  border-left: 1px solid #219d84;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 1fr;
      grid-template-columns: 220px 1fr;
}

.summary__row__photo {
  width: 180px;
  height: 205px;
  background-image: url("../img/summary_photo.png");
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.summary__row__text {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
}

.summary__row__text h1 {
  padding-top: 48px;
  color: #d7fcf5;
  font-size: 1.8rem;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: .09px;
  margin-left: -1px;
}

.summary__row__text h2 {
  line-height: 19px;
  color: #20816d;
  font-size: 1.1rem;
  font-weight: 400;
  word-spacing: 1.8px;
  letter-spacing: -.18px;
}

.summary__row__text p {
  font-family: Lato, sans-serif;
  line-height: 22px;
  padding: 14px 20px 0 0;
  color: #d7fcf5;
  font-size: .7rem;
  font-weight: 400;
}

.summary__social {
  position: absolute;
  right: 128px;
  bottom: 66px;
  color: #219d84;
}

.summary__social ul {
  font-size: 0;
}

.summary__social__button {
  margin-left: -1px;
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}

.summary__social a {
  color: #219d84;
}

.get-in-touch {
  background-color: #323232;
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-column-gap: 12px;
  -ms-grid-columns: 108px 580px 200px;
      grid-template-columns: 108px 580px 200px;
  -ms-grid-rows: 130px 320px;
      grid-template-rows: 130px 320px;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

.get-in-touch__form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.get-in-touch__form__heading--1, .get-in-touch__form__heading--2 {
  width: 100%;
  position: absolute;
  color: #e0e0e0;
}

.get-in-touch__form__heading--1 {
  font-size: 30px;
  top: 59px;
  left: 121px;
}

.get-in-touch__form__heading--2 {
  font-size: 18px;
  top: 93px;
  left: 122px;
}

.get-in-touch__textcol {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #bebebe;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 12px;
  line-height: 21px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.get-in-touch__textcol__contacts {
  margin-top: 36px;
  position: relative;
  line-height: 22px;
}

#message_form {
  margin-top: 134px;
}

.highlight {
  color: #e0e0e0;
  font-weight: bold;
}

.get-in-touch::before {
  content: "";
  width: 960px;
  border-bottom: 1px solid #2b2b2b;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 13px;
  z-index: 100;
}

.get-in-touch::after {
  content: "";
  width: 960px;
  border-bottom: 1px solid #2b2b2b;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 11px;
  z-index: 100;
}

.footer {
  display: -ms-grid;
  display: grid;
  background-color: #222222;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.footer__copyright {
  color: #454545;
  margin-left: 40px;
  letter-spacing: .1px;
  font-size: 1.2em;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
  position: absolute;
  top: 63px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 99;
}

.triangle::before {
  content: "";
  width: 410px;
  border-bottom: 1px solid #e4e9eb;
  position: absolute;
  top: -14px;
  left: -480px;
}

.triangle::after {
  content: "";
  width: 410px;
  border-bottom: 1px solid #e4e9eb;
  position: absolute;
  top: -14px;
  left: 69px;
}

.fa-facebook-f {
  background-color: #A4D9D2;
}

.fa-facebook-f:hover {
  background-color: #c8e8e4;
}

.fa-twitter {
  background-color: #6BC9BD;
}

.fa-twitter:hover {
  background-color: #b6e4de;
}

.fa-google-plus-g {
  background-color: #7DCEC3;
}

.fa-google-plus-g:hover {
  background-color: #c7eae5;
}

.fa-pinterest-p {
  background-color: #ABDBD5;
}

.fa-pinterest-p:hover {
  background-color: #cfeae7;
}

.fa-linkedin-in {
  background-color: #ABDBD5;
}

.fa-linkedin-in:hover {
  background-color: #cfeae7;
}

.fa-dribbble {
  background-color: #6CC9BD;
}

.fa-dribbble:hover {
  background-color: #b7e4de;
}

form input[type=text],
form input[type=email],
form textarea,
form textarea::-webkit-input-placeholder,
form textarea:focus,
input:focus,
input::-webkit-input-placeholder {
  width: 580px;
  color: #bebebe;
  font-family: Lato, sans-serif;
  font-size: .7rem;
  padding-bottom: 1px;
  background-color: #454545;
  outline: none;
  border: none;
}

form input[type=text],
form input[type=email],
form textarea,
form textarea:-ms-input-placeholder,
form textarea:focus,
input:focus,
input:-ms-input-placeholder {
  width: 580px;
  color: #bebebe;
  font-family: Lato, sans-serif;
  font-size: .7rem;
  padding-bottom: 1px;
  background-color: #454545;
  outline: none;
  border: none;
}

form input[type=text],
form input[type=email],
form textarea,
form textarea::-ms-input-placeholder,
form textarea:focus,
input:focus,
input::-ms-input-placeholder {
  width: 580px;
  color: #bebebe;
  font-family: Lato, sans-serif;
  font-size: .7rem;
  padding-bottom: 1px;
  background-color: #454545;
  outline: none;
  border: none;
}

form input[type=text],
form input[type=email],
form textarea,
form textarea::placeholder,
form textarea:focus,
input:focus,
input::placeholder {
  width: 580px;
  color: #bebebe;
  font-family: Lato, sans-serif;
  font-size: .7rem;
  padding-bottom: 1px;
  background-color: #454545;
  outline: none;
  border: none;
}

form input[type=text],
form input[type=email] {
  height: 38px;
  margin-bottom: 16px;
  padding-left: 15px;
}

form textarea,
form textarea:focus {
  padding-top: 12px;
  height: 150px;
  padding-left: 15px;
  resize: none;
  overflow: hidden;
}

#send-button {
  width: 90px;
  height: 37px;
  color: #d7fcf5;
  background-color: #2eb398;
  border: none;
  float: right;
  margin-top: 14px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: condensed;
}

/*.location { 
    height: 11px;
    margin: 0px;
    padding-left: 20px;
    background-image: url('../icons/location.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 9999;
  }

  .phone { 
    height: 20px;
    margin: 0px;
    padding-left: 20px;
    background-image: url('../icons/phone.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 9999;
  }


  .letter { 
    height: 11px;
    margin: 0px;
    padding-left: 20px;
    background-image: url('../icons/letter.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 9999;
  }*/
.fas {
  font-size: 10px;
  padding-right: 15px;
  color: #2eb398;
}
/*# sourceMappingURL=style.css.map */